Repository SymbiFlow/prjtrellis, pull requests merged in 2018-11, with the labels that each got.

#42 cmake: Use RPATH for libtrellis binaries
  libtrellis/CMakeLists.txt
Labels: libtrellis

#44 Update README.md
  README.md
Labels: docs

#45 Refactor out duplicate "tile name to location mapping".
  devices.json
  libtrellis/include/Chip.hpp
  libtrellis/include/Tile.hpp
  libtrellis/src/Chip.cpp
  libtrellis/src/Database.cpp
  libtrellis/src/PyTrellis.cpp
  libtrellis/src/Tile.cpp
  tools/connectivity.py
  tools/demobuilder/design.py
  tools/demobuilder/route.py
  tools/html_tilegrid.py
  util/common/nets.py
  util/common/tiles.py
  util/fuzz/interconnect.py
Labels: libtrellis, tools

#46 Adding interconnect timing solver
  timing/fuzzers/020-basic_routing/fuzzer.py
  timing/resource/picorv32_x20.v
  timing/util/.gitignore
  timing/util/design_pip_classes.py
  timing/util/extract_ncl_routing.py
  timing/util/interconnect_html.py
  timing/util/pip_classes.py
  timing/util/timing_dbs.py
  timing/util/timing_solver.py
  tools/html_all.py
Labels: fuzzers, tools

#47 Adding DCU bels to libtrellis
  libtrellis/include/Bels.hpp
  libtrellis/src/Bels.cpp
  libtrellis/src/Chip.cpp
  libtrellis/src/RoutingGraph.cpp
Labels: libtrellis

#51 examples: Add soc picorv32 demo for ecp5-evn board
  examples/soc_ecp5_evn/.gitignore
  examples/soc_ecp5_evn/Makefile
  examples/soc_ecp5_evn/README.md
  examples/soc_ecp5_evn/attosoc.v
  examples/soc_ecp5_evn/attosoc_tb.v
  examples/soc_ecp5_evn/ecp5evn.lpf
  examples/soc_ecp5_evn/firmware.c
  examples/soc_ecp5_evn/makehex.py
  examples/soc_ecp5_evn/picorv32.v
  examples/soc_ecp5_evn/pll.v
  examples/soc_ecp5_evn/sections.lds
  examples/soc_ecp5_evn/simpleuart.v
  examples/soc_ecp5_evn/start.s
  examples/soc_ecp5_evn/top.v
Labels: docs

#48 docs and building from scratch
  README.md
  create-empty-db.sh
Labels: docs
