Repository SymbiFlow/prjtrellis, pull requests merged in 2018-05, with the labels that each got.

#4 Creating a library for ECP5 bitstream manipulation
  .gitignore
  devices.json
  diamond.sh
  environment.sh
  libtrellis/.gitignore
  libtrellis/CMakeLists.txt
  libtrellis/README.md
  libtrellis/examples/compare_bits.py
  libtrellis/examples/logic_tile_bits.py
  libtrellis/include/Bitstream.hpp
  libtrellis/include/CRAM.hpp
  libtrellis/include/Chip.hpp
  libtrellis/include/Database.hpp
  libtrellis/include/Tile.hpp
  libtrellis/include/Util.hpp
  libtrellis/src/Bitstream.cpp
  libtrellis/src/CRAM.cpp
  libtrellis/src/Chip.cpp
  libtrellis/src/Database.cpp
  libtrellis/src/PyTrellis.cpp
  libtrellis/src/Tile.cpp
  libtrellis/src/Util.cpp
  tools/ecpunpack.cpp
Labels: docs, tools

#5 libtrellis Improvements and fuzzing experiments
  environment.sh
  experiments/.gitignore
  experiments/lut_init/fuzz_lut_init.py
  experiments/lut_init/lut_init_template.ncl
  libtrellis/examples/.gitignore
  libtrellis/examples/compare_bits.py
  libtrellis/examples/logic_tile_bits.py
  libtrellis/examples/unpack_repack.py
  libtrellis/include/Bitstream.hpp
  libtrellis/include/CRAM.hpp
  libtrellis/include/Chip.hpp
  libtrellis/src/Bitstream.cpp
  libtrellis/src/CRAM.cpp
  libtrellis/src/Chip.cpp
  libtrellis/src/PyTrellis.cpp
  libtrellis/src/Tile.cpp
  libtrellis/src/Util.cpp
  tools/get_tilegrid_all.py
  tools/html_all.py
  tools/html_tilegrid.py
  util/common/__init__.py
  util/common/database.py
  util/common/devices.py
  util/common/diamond.py
Labels: experiments, tools

#7 Fix tilegrid rendering under Chrome
  tools/html_tilegrid.py
Labels: tools

#6 Code to manage and manipulate database
  .github/autolabeler.yml
  .update-contributing.py
  CONTRIBUTING.md
  README.md
  docs/architecture/glossary.rst
  docs/architecture/overview.rst
  docs/db_dev_process/overview.rst
  docs/index.rst
  docs/libtrellis/overview.rst
  experiments/interconnect_poc/fuzz_single_mux.py
  experiments/interconnect_poc/mux_template.ncl
  experiments/lut_init/fuzz_lut_init.py
  libtrellis/CMakeLists.txt
  libtrellis/examples/compare_bits.py
  libtrellis/examples/logic_tile_bits.py
  libtrellis/include/BitDatabase.hpp
  libtrellis/include/Bitstream.hpp
  libtrellis/include/CRAM.hpp
  libtrellis/include/Database.hpp
  libtrellis/include/Tile.hpp
  libtrellis/include/TileConfig.hpp
  libtrellis/include/Util.hpp
  libtrellis/src/BitDatabase.cpp
  libtrellis/src/Bitstream.cpp
  libtrellis/src/CRAM.cpp
  libtrellis/src/Chip.cpp
  libtrellis/src/Database.cpp
  libtrellis/src/PyTrellis.cpp
  libtrellis/src/Tile.cpp
  libtrellis/src/TileConfig.cpp
  libtrellis/tests/.gitignore
  libtrellis/tests/bitstream_io.py
  libtrellis/tests/run_all.sh
  libtrellis/tests/testdata/devices.json
  libtrellis/tests/testdata/test/testdev/tilegrid.json
  libtrellis/tests/testdata/test/tiledata/TESTTILE/bits.db
  libtrellis/tests/tile_cram.py
  libtrellis/tests/tile_db.py
Labels: docs, experiments, infra

#8 Preparations for Fuzzing
  .gitignore
  devices.json
  diamond.sh
  diamond_tcl.sh
  environment.sh
  fuzzers/.gitignore
  fuzzers/001-plc2_routing/fuzzer.py
  fuzzers/001-plc2_routing/plc2route.ncl
  libtrellis/CMakeLists.txt
  libtrellis/examples/ecp5um45_bits.py
  libtrellis/examples/or_to_and.py
  libtrellis/include/BitDatabase.hpp
  libtrellis/include/Chip.hpp
  libtrellis/include/Util.hpp
  libtrellis/src/BitDatabase.cpp
  libtrellis/src/Chip.cpp
  libtrellis/src/PyTrellis.cpp
  libtrellis/src/TileConfig.cpp
  libtrellis/tests/tile_db.py
  tools/create_empty_bitdbs.py
  util/common/database.py
  util/common/isptcl.py
  util/common/nets.py
  util/common/tiles.py
  util/fuzz/fuzzconfig.py
  util/fuzz/fuzzloops.py
  util/fuzz/interconnect.py
Labels: fuzzers, libtrellis, tools

#9 Tweaks to get the interconnect fuzzer working
  fuzzers/001-plc2_routing/fuzzer.py
  libtrellis/include/BitDatabase.hpp
  libtrellis/src/Database.cpp
  libtrellis/src/PyTrellis.cpp
  tools/html_bits.py
  tools/html_tilegrid.py
  util/fuzz/fuzzconfig.py
  util/fuzz/fuzzloops.py
Labels: fuzzers, libtrellis, tools

#10 Improving Project Trellis Infrastructure
  .gitignore
  README.md
  create-empty-db.sh
  download-latest-db.sh
  libtrellis/CMakeLists.txt
  libtrellis/tests/run_all.sh
Labels: docs, infra, libtrellis

#11 Adding fuzzers for logic tile init/configuration bits
  fuzzers/003-lut_init/empty.ncl
  fuzzers/003-lut_init/fuzzer.py
  fuzzers/003-lut_init/lut.ncl
  fuzzers/005-reg_config/empty.ncl
  fuzzers/005-reg_config/fuzzer.py
  fuzzers/005-reg_config/reg.ncl
  fuzzers/007-plc2_cemux/cemux.ncl
  fuzzers/007-plc2_cemux/empty.ncl
  fuzzers/007-plc2_cemux/fuzzer.py
  fuzzers/008-plc2_clkmux/clkmux.ncl
  fuzzers/008-plc2_clkmux/empty.ncl
  fuzzers/008-plc2_clkmux/fuzzer.py
  fuzzers/009-plc2_lsr/empty.ncl
  fuzzers/009-plc2_lsr/fuzzer.py
  fuzzers/009-plc2_lsr/lsr.ncl
  fuzzers/010-plc2_modes/empty.ncl
  fuzzers/010-plc2_modes/fuzzer.py
  fuzzers/010-plc2_modes/modes.ncl
  fuzzers/011-ccu2_inject/ccu2.ncl
  fuzzers/011-ccu2_inject/empty.ncl
  fuzzers/011-ccu2_inject/fuzzer.py
  libtrellis/include/BitDatabase.hpp
  libtrellis/include/list_indexing_suite.h
  libtrellis/include/set_indexing_suite.h
  libtrellis/src/BitDatabase.cpp
  libtrellis/src/PyTrellis.cpp
  minitests/reg/async.v
  minitests/reg/ce.v
  minitests/reg/ce_0.v
  minitests/reg/ce_inv.v
  minitests/reg/ce_over_lsr.v
  minitests/reg/clk_0.v
  minitests/reg/clk_inv.v
  minitests/reg/gsr.v
  minitests/reg/gsr2.v
  minitests/reg/lsr_inv.v
  minitests/reg/plain.v
  minitests/reg/reset.v
  minitests/reg/set.v
  minitests/reg/set_inv.v
  tools/html_bits.py
  util/fuzz/nonrouting.py
Labels: fuzzers, libtrellis, minitests, tools

#12 Adding missing logic tile config bits
  fuzzers/001-plc2_routing/fuzzer.py
  fuzzers/012-ccu2_nmux/ccu2.ncl
  fuzzers/012-ccu2_nmux/empty.ncl
  fuzzers/012-ccu2_nmux/fuzzer.py
  fuzzers/013-plc2_mkmux/empty.ncl
  fuzzers/013-plc2_mkmux/fuzzer.py
  fuzzers/013-plc2_mkmux/mkmux.ncl
  fuzzers/014-plc2_wremux/empty.ncl
  fuzzers/014-plc2_wremux/fuzzer.py
  fuzzers/014-plc2_wremux/wremux.ncl
  libtrellis/examples/logic_tile_config.py
  libtrellis/include/Tile.hpp
  libtrellis/src/BitDatabase.cpp
  libtrellis/src/Database.cpp
  libtrellis/src/PyTrellis.cpp
  libtrellis/src/Tile.cpp
  util/fuzz/interconnect.py
Labels: fuzzers, libtrellis

#13 libtrellis: Making the database deterministic
  libtrellis/include/BitDatabase.hpp
  libtrellis/src/BitDatabase.cpp
  libtrellis/src/PyTrellis.cpp
  tools/html_bits.py
Labels: libtrellis, tools
