Repository SymbiFlow/prjtrellis, pull requests merged in 2019-09, with the labels that each got.

#92 Update bitstream_format.rst
  docs/architecture/bitstream_format.rst
Labels: docs

#94 Msvc fixes
  libtrellis/CMakeLists.txt
  libtrellis/tools/version.cpp.in
Labels: libtrellis, tools

#95 cmake: option to bypass assumption of git availability during build
  libtrellis/CMakeLists.txt
Labels: libtrellis

#100 ecppll: early support for dynamic phase changing
  libtrellis/tools/ecppll.cpp
Labels: libtrellis, tools

#101 ecppll: option to enable internal feedback
  libtrellis/tools/ecppll.cpp
Labels: libtrellis, tools

#102 ecppll: option to select feedback output and frequencies readable by …
  libtrellis/tools/ecppll.cpp
Labels: libtrellis, tools

#103 Change theme to Sphinx Material Design
  docs/.gitignore
  docs/Makefile
  docs/_static/.keepme
  docs/conf.py
  docs/markdown_code_symlinks.py
  docs/requirements.txt
Labels: docs
