Repository SymbiFlow/prjtrellis, pull requests merged in 2020-03, with the labels that each got.

#123 include example ECP5 architecture syntax
  README.md
Labels: docs

#125 libtrellis/CMakeLists.txt: Run git describe in source directory
  libtrellis/CMakeLists.txt
Labels: libtrellis

#121 pytrellis should be target if BUILD_PYTHON exists
  libtrellis/CMakeLists.txt
Labels: libtrellis

#129 Add ECP5 directory hierarchy where appropriate.
  experiments/ECP5/interconnect_poc/fuzz_single_mux.py
  experiments/ECP5/interconnect_poc/mux_template.ncl
  experiments/ECP5/lut_init/fuzz_lut_init.py
  experiments/ECP5/lut_init/lut_init_template.ncl
  minitests/ECP5/dsp/mult.v
  minitests/ECP5/dsp/mult1.v
  minitests/ECP5/dsp/mult1n.ncl
  minitests/ECP5/dsp/preadd.v
  timing/fuzzers/ECP5/010-basic-cells/fuzzer.py
  timing/fuzzers/ECP5/012-io/fuzzer.py
  timing/fuzzers/ECP5/012-io/pio.v
  timing/fuzzers/ECP5/013-iol/fuzzer.py
  timing/fuzzers/ECP5/013-iol/pio.v
  timing/fuzzers/ECP5/014-ebr/ebr_regmode.v
  timing/fuzzers/ECP5/014-ebr/ebr_writemode.v
  timing/fuzzers/ECP5/014-ebr/fuzzer.py
  timing/fuzzers/ECP5/015-mult/fuzzer.py
  timing/fuzzers/ECP5/015-mult/mult_pipemode.v
  timing/fuzzers/ECP5/020-basic_routing/fuzzer.py
Labels: experiments, fuzzers, minitests

#130 Refactor util tools
  libtrellis/.gitignore
  libtrellis/src/Bitstream.cpp
  libtrellis/src/Tile.cpp
  tools/connectivity.py
  tools/demobuilder/design.py
  tools/demobuilder/route.py
  tools/extract_tilegrid.py
  tools/get_tilegrid_all.py
  tools/html_all.py
  tools/html_tilegrid.py
  util/common/isptcl.py
  util/common/nets.py
  util/fuzz/dbfixup.py
  util/fuzz/interconnect.py
Labels: libtrellis, tools
